<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class = "nav-item">
            <a routerLink="places" routerLinkActive="active" class="nav-link" >Place List</a>
        </li><li class = "nav-item">
            <a routerLink="create-place" routerLinkActive="active" class="nav-link" >Add Place</a>
        </li>
    </ul>

</nav>
 
<div class="container"> 
    <router-outlet></router-outlet>
</div>

<footer class="footer">
    <div class="container">
        <span>Designed by Ozan Argıt Önçeken</span>
    </div>
</footer>